/* Do everything in this file */

h1, h2, h3 {
    border-bottom: 1px solid red;
}

h2 {
    clear: right;
}

figure {
    float: right;
    width: 40%;
    /*margin-left: 100px;*/
}

figure img {
    width: 100%;
}

div.tet {
    border: 1px dotted green;
    float: left;
    width: 33%;
}

footer {
    clear: both;
    position: fixed;
    top: 0;
    right: 0;
    background-color: darkgrey;
    z-index: -6;
}